# Ignore .env
.env

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep

# Ignore todo
TODO.md

# Ignore node modules
/front_end/node_modules/

# Ignore main compiled javascript
/front_end/build.js

# Ignore Mac Files
.DS_Store
