@import url(https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-mobile-light.min.css);

#root {
  width: 100%;
  max-width: 900px;
  margin: 10% auto 2% auto;
}
a {
  color: #181919;
}
.topcoat-text-input {
  width: 100%;
}
li.hover {
  background: lighten(#288edf,20%);
  font-weight: bold;
}

.topcoat-list__container {
  border-top: none;
}

.typeahead {
  width: 700px;
  display: inline-block;
}
