@import url(https://cdnjs.cloudflare.com/ajax/libs/topcoat/0.8.0/css/topcoat-mobile-light.min.css);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400);

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 60px;
  margin-top: 3%;
  color: #181919;
}
#root {
  width: 100%;
  max-width: 900px;
  margin: 3% auto 2% auto;
}
a {
  color: #181919;
  text-decoration: none;
}
.topcoat-text-input {
  width: 100%;
}
li.hover {
  background: lighten(#288edf,20%);
}

.topcoat-list__container {
  border-top: none;
}

.typeahead {
  width: 85%;
  display: inline-block;
}
